.container-login{
    display: none;
}

.hide{
    display: none;
}

.show{

    display: block;
}

span.ris-user {
    font-weight: 700;
    font-size: 24px;
}

.card {
    width: 400px;
    border: none;
    background: #00000005;
}

.btr {
    border-top-right-radius: 5px !important
}

.btl {
    border-top-left-radius: 5px !important
}

.btn-dark {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.btn-dark:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.nav-pills {
    display: table !important;
    width: 100%
}

.nav-pills .nav-link {
    border-radius: 0px;
    border-bottom: 1px solid #0d6efd40
}

.nav-item {
    display: table-cell;
    background: #0d6efd2e
}

.form {
    padding: 10px;
    height: 300px
}

.form input {
    margin-bottom: 12px;
    border-radius: 3px
}

.form input:focus {
    box-shadow: none
}

.form button {
    margin-top: 20px
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #AA424F;
}

input[type="submit"].dokan-btn-theme, a.dokan-btn-theme, .dokan-btn-theme {
    color: #ffffff !important;
    background-color: #AA424F !important;
    border-color: #AA424F !important;
    margin-top: 10px;
    border-radius: 0 !important;
}
